<h1><%= @post.name %></h1>
<%= image_tag @post.image.url(:medium) %>
<%= link to "#{@user.email}", user_path(@user) %>

<% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
      <%= comment.comment %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p> No Comments </p>
<% end %>

<%= link_to "Leave a Comment", new_post_comment_path(@post) %>

<%= link_to "Delete Post", post_path(@post), method: :delete %>