<!DOCTYPE html>
<html>
<head>
<center>
  <title>insta.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Sarpanch:400,800,700,500,600' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <%= image_tag "algae.png", :class => "logo" %>
  <h1> instantaneous.</h1>
</header>

<%= notice %>
<%= yield %>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<%else%>
  <%= link_to "Sign In", new_user_session_path%>
  <%= link_to "Register", new_user_registration_path %>
<% end %>
</center>
</body>
</html>
